body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
  text-decoration: none;
}
 ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
 p {
  padding: 0;
  margin: 0;
 }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
 .container {
  width: 1158px;
  padding: 0 15px;
  margin:  0 auto;
 }
 img {
  display:block;
 }
 
 .header {
  border-bottom: 1px solid #E7E9FC;
background: #FFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 


 }

 .header-container {
    display: flex;
    align-items: center;
 }

 .navigator{
  display: flex;
  align-items: center;
    
 }
  
  .logo {
    color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
  }
  .logo-part {
    color: #2E2F42;

  }
  .nav-list {
    display: flex;
    gap: 40px;
    transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);


  }

  .nav-link {
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color:#404bbf;
  
    

  }

  .current::after {
   content: "" ; 
   position: absolute;
   left: 0;
   bottom: -1px;
   background-color: #404bbf;
   border-radius: 2px;
   height: 4px;
   width: 100%;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404BBF;
  }
  .address-list {
    display: flex;
    gap: 40px;
  }

  .address {
    font-style: normal;
    margin-left: auto;



  }
  .address-link {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .address-link:hover,
  .address-link:focus {
    color: #404BBF;
  }

  /*====Main====*/
  /*====Secnion-one====*/
  .section-one {
    background-color: #2E2F42;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    /*text-align: center;*/
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    

  

  }


  .section-one-teitle {
    color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07em;
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto 48px auto;
display: block;
  }
/*Button*/
  .section-one-btn {
    display: block;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;  
    background: #4D5AE5;
    color: #FFF;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* Button Text */
font-size: 16px;
font-weight: 500;
line-height: 1.5em;
letter-spacing: 0.04em;
cursor: pointer;
margin: 0 auto;
  }
  .section-one-btn:hover,
  .section-one-btn:focus {
background: #404BBF;
  }
/*====Section-features====*/
.section-features {
  background: #FFF;
  padding-top: 120px;
  padding-bottom: 120px;
}


.features-list {
  list-style-type: none;
  display: flex;
  gap: 24px;

}
.features-list-item {
  width: calc((100% - 3 * 24px)/4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;

}
.title-features-one {
  color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11em;
letter-spacing: 0.02em;
text-transform: capitalize;

}

.title-features {
  color: #2E2F42;

font-size: 20px;
font-weight: 500;
line-height: 1.2em;
letter-spacing: 0.02em;

}

.text-features {
  color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
letter-spacing: 0.02em;
}
/*====Section Team====*/
.section-team {
  background:#F4F4FD;
  padding-top: 120px; 
  padding-bottom: 120px;
}
.section-team-title {
  color: #2E2F42;
  margin-bottom: 72px;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11em;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-list {
  
  display: flex;
  gap: 24px;
  justify-content: center;
  }

  .person {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  
  }
/*****icon****/
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404BBF ;

}
.team-icon-icon {
  fill: #f4f4fd;
}
/*****name****/

.section-team-name {
  color: #2E2F42;
  text-align: center;
  margin-bottom: 12px;
font-size: 20px;
font-weight: 500;
line-height: 1.2em;
letter-spacing: 0.02em;

}
.section-team-text {
  text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
letter-spacing: 0.02em;
}

/*====Our Potfolio====*/
.section-portfolio {
  background-color:#FFF;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team-title {
  color: #2E2F42;
  margin-bottom: 72px;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11em;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  list-style-type: none;
  

}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;

}

.title-portfolio {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2em;
letter-spacing: 0.02em;
margin-bottom: 8px;
}


/*******Portfolio-color-wrap***********/

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list:hover .cover-portfolio-text {
  transform: translateY(0);
}
.cover-portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2,1);


  padding: 40px 32px;
font-weight: 400;
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;
color: #f4f4fd;

}

/*====Footer====*/
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-web {
  display:inline-block;
  margin-right: 120px;
}
.footer {
padding:100px 0;
background: #2E2F42;
} 
.logo-footer {
  color:#4D5AE5;
font-family: Raleway, sans-serif;  
font-size: 18px;
font-weight: 700;
line-height: 1.17em;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 18px;
display: inline-block;
margin-bottom: 16px;
margin-right: 120px;
}
.logo-part-footer {
  color: #F4F4FD;

}
.text-footer {
  color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
letter-spacing: 0.02em;
max-width: 264px;
}
/*******icon-footer**********/

.footer-icon {
  display: inline-block;
  width: 208px;
  height: 80px;
  
}
.text-footer-icon {
  display: flex;
  font-weight: 500;
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;
color: #FFFFFF;

margin-bottom: 16px;
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.footer-icon-item {
  width: 40px;
  height: 40px;

}
.footer-icon-link {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #4d5ae5;
 border-radius: 50%;
 position: relative;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .footer-icon-link:hover,
 .footer-icon-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .icon-icon {
  fill: #f4f4fd;
  position: absolute;
 }
ul {
  list-syle: none;
}
